@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/grid';
@import 'swiper/css/navigation';


html {
  scroll-behavior: smooth;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Nunito Sans', sans-serif; */
}



/* Path: src\app\app.component.html */


  /* #Mega Menu Styles
  if you use sass, convert all this additional css to tailwindcss using the 'hack' @apply for all element.style (css properties)
[ https://tailwindcss.com/docs/functions-and-directives/#apply ]
example:
  .mega-menu {
  @apply
  hidden
  left-0
  absolute
  text-left
  w-full;
  }










  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  

  .scrollbar-w-2::-webkit-scrollbar {
    width: 0.20rem;
    height: 0.25rem;
  }
  
  .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
    --bg-opacity: 1;
    background-color: #e2e2e7;
    /* background-color: rgba(247, 250, 252, var(--bg-opacity)); */
  }
  
  .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: #3d3d3d17;
    opacity: 0.3;
    /* background-color: rgba(237, 242, 247, var(--bg-opacity)); */
  }
  
  .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
  }